.middle-container {
	flex: 1;
	display: flex;
	flex-direction: column;
}

/* SEARCH-DIV */

.search-div {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

.search-div input {
	width: 400px;
	padding: 8px 14px;
	margin: 0px 52px;
	font-size: 17px;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	color: #fff;
	border-radius: 10px;
	outline: none;
}

/* CONTENT-DIV */

.content-div {
	flex: 7;
	display: flex;
	margin: 10px 20px;
}

.form-div {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tasks-div {
	flex: 2;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.filters-div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0px 0px 36px;
}

input[type="checkbox"] {
	cursor: pointer;
	margin-right: 4px;
	height: 14px;
	width: 14px;
}

.tasks-container {
	border-radius: 10px;
	min-height: 520px;
	max-height: 520px;
	overflow-y: auto;
}

.message {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.message h1 {
	color: rgb(255, 78, 78);
}

.tasks-container::-webkit-scrollbar {
	width: 6px;
}

.tasks-container::-webkit-scrollbar-thumb {
	background-color: rgba(70, 79, 250, 0.657);
	border-radius: 4px;
}

.tasks-container::-webkit-scrollbar-thumb:hover {
	background-color: rgb(70, 80, 250);
	cursor: pointer;
}

.task-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 8px;
	padding: 12px;
	margin: 20px 30px;
}

.task-item .actions {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.actions span {
	cursor: pointer;
}

.details .title {
	font-size: 20px;
	font-weight: 900;
	margin: 0 0 6px;
	color: var(--main-color);
}

.task-item p {
	margin: 4px 0;
	font-size: 0.9rem;
	color: #555;
}

.completed-task {
	background-color: #d3d3d3;
	color: #808080;
}
